doctype html
html

	head

		title Sam Hart

		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		meta(name="viewport" content="width=device-width initial-scale=1.0")

		link(href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&amp;subset=latin-ext" rel="stylesheet")

		script
			include ../js/ga.js

		style
			include ../world.css

	body
		main
			div.anchor#information
				h1 SAM HART
				:markdown-it
					- [email](sam@hxrts.com?subject=message%20via%20hxrts.com)
					- [PGP](https://keybase.io/hxrts)
					- [Scuttlebutt](https://viewer.scuttlebot.io/%25R3KbD03RkIesi%2FtjvaRtQxXjE9pQ5VxnV75a3k7henU%3D.sha256)
					- [Are.na](https://www.are.na/sam-hart)
					- [Twitter](http://twitter.com/hxrts)
					- [CV](../assets/SHB_CV.pdf)

			div.anchor#collaborator
				h1 COLLABORATOR
				:markdown-it
					- [open source coin](http://oscoin.io/)
					- [Internet Archive](https://decentralizedweb.net/)
					- [Guild](https://twitter.com/guild_is)

			div.anchor#publisher
				h1 PUBLISHER
				:markdown-it
					- [Avant.org](http://avant.org/)
					- [Cybernetics Library](https://cybernetics.social/)
					- [*Secrets*](../assets/secret.svg), with [Sarah Hamerman](https://sarahhamerman.com/)

			div.anchor#research
				h1 RESEARCHER
				:markdown-it
					- [laboratory vitae](https://scholar.google.com/citations?user=9Jhj4pwAAAAJ&hl=en)

