doctype html
html

	head

		title Sam Hart

		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		meta(name="viewport" content="width=device-width initial-scale=1.0")

		link(href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&amp;subset=latin-ext" rel="stylesheet")

		script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
		script(src="https://use.fontawesome.com/6b27e6b539.js")
		script(src="https://momentjs.com/downloads/moment-with-locales.min.js")
		script
			include ../js/ga.js

		style
			include ../world.css

	body
		nav
			h1#title
				span#dash ------ 
				span#name  SAM HART

		main
			figure
				img#splash(src="assets/house_in_the_sky.jpg")

				figcaption
					span
						:markdown-it
							Still from Sascha Pohflepp & Chris Woebken's&nbsp;
					span
						:markdown-it
							mixed-reality film [*The House in The Sky*](http://pioneerworks.org/exhibitions/the-house-in-the-sky-sascha-pohflepp-chris-woebken/).

			div.anchor#information
				:markdown-it
					Sam Hart is a scientist, publisher, and artist living in New York. As a bioinformatician at the Sloan Kettering Institute, Sam works across cancer genomics and cellular engineering. He is Founder and Editor-in-Chief of [Avant.org](http://avant.org/), a distributed project space for research and practice, and cutator of the online technical catalog, [Research Tactics](http://researchtactics.com/).

			div.anchor#laboratory
				h2 LABORATORY
				:markdown-it
					For complete publication record see [Scholar](https://scholar.google.com/citations?user=9Jhj4pwAAAAJ&hl=en).

					* Current work in the laboratory of [Dr. Michel Sadelain](https://www.mskcc.org/research-areas/labs/michel-sadelain/) and the Center for Cell Engineering focuses on computational methods for the development of targeted immunotherapies.
					* Collaboration with [Dr. Nelson Moussazadeh](http://weillcornellbrainandspine.org/residents/nelson-moussazadeh-md) & [Dr. Cameron Brennan](https://www.mskcc.org/cancer-care/doctors/cameron-brennan) examining the evolutionary dynamics of metastatic kidney cancer.

			div.anchor#studio
				h2 STUDIO
				:markdown-it

					* *Supertemporal*, with [Danny Snelson](http://dss-edit.com/)
					* *Conference for Social Cybernetics*, with [Francis Tseng](https://frnsys.com/) & [Melanie Hoff](https://melanie-hoff.com/)
					* [*Trust and Believe*](eyebeam.org/events/trust-and-believe/), with Nora Khan

					### Editorial projects:

					* [*(LISTEN)*](http://avant.org/event/listen/) - [Christine Sun Kim](http://christinesunkim.com/)
					* *Handemade Computer* - [Taeyoon Choi](http://taeyoonchoi.com/)
					* *Invisible Systems* - [Nora Khan](https://noranahidkhan.com/)
					* *Affordance Opera* - [David Kanaga](http://davidkanaga.com/)
					* *In Search of Personalized Time* - [E Roon Kang](http://www.eroonkang.com/) & [Taeyoon Choi](http://taeyoonchoi.com/)
					* *00* - [Lars Holdus](http://www.larsholdhus.com/), released in collaboration with [PAN](http://p-a-n.org/)
					* *Pink Slime Caeser Shift* - [Jen Liu](http://jenliu.info/)
					* *Agalinis Dreams* - [Miriam Simun](http://www.miriamsimun.com/)

		footer
			ul.links
				li: a(href="../assets/Samuel_Hart_Berman_CV.pdf"): i.fa.fa-file-text-o
				li: a(href="mailto:sam@hxrts.com?subject=message%20via%20hxrts.com"): i.fa.fa-reply
				li: a(href="http://github.com/hxrts"): i.fa.fa-code-fork
				li: a.arena(href="https://www.are.na/sam-hart")
					include ../assets/arena.svg
				li: a(href="http://twitter.com/hxrts"): i.fa.fa-twitter
				li: a(href="https://keybase.io/hxrts"): i.fa.fa-key
				li: a(href="http://creativecommons.org/licenses/by-nc-nd/4.0/"): i.fa.fa-creative-commons

			input#date(type="text" name="date" readonly="true")

		tail
			script(src="https://code.jquery.com/jquery-1.11.0.min.js")
			script(src="https://code.jquery.com/jquery-migrate-1.2.1.min.js")
			script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.0/highlight.min.js")
			script
				include ../js/github.js
