doctype html
html

	head

		title Sam Hart

		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		meta(name="viewport" content="width=device-width initial-scale=1.0")

		link(href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&amp;subset=latin-ext" rel="stylesheet")

		script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
		script(src="https://use.fontawesome.com/6b27e6b539.js")
		script(src="https://momentjs.com/downloads/moment-with-locales.min.js")
		script
			include ../js/ga.js

		style
			include ../world.css

	body
		nav#sidemenu
			ul.anchors
				li.link.selected: a#title(href="#information") SAM HART
				li.link: a(href="#laboratory") LABORATORY
				li.link: a(href="#studio") STUDIO
				li: a(href="Samuel_Hart_Berman_CV.pdf") CV

		main
			figure
				img#splash(src="images/house_in_the_sky.jpg")
				figcaption
					:markdown-it
						Still from Sascha Pohflepp & Chris Woebken's mixed-reality film [*The House in The Sky*](http://pioneerworks.org/exhibitions/the-house-in-the-sky-sascha-pohflepp-chris-woebken/).


			div.anchor#information
				:markdown-it
					Sam Hart is a scientist, publisher, and artist whose work addresses multivalent systems and their responsible engagement. Sam works as a Bioinformatician at Sloan Kettering working between cancer genomics and cellular engineering. He is Founder and Editor of [Avant.org](http://avant.org/), an online artists' magazine for research and practice.

			div.anchor#laboratory
				h1 LABORATORY
				:markdown-it
					Full list of academic publications on [Google Scholar](https://scholar.google.com/citations?user=9Jhj4pwAAAAJ&hl=en).

					* Current work in the laboratory of [Dr, Michel Sadelain](https://www.mskcc.org/research-areas/labs/michel-sadelain/) and the Center for Cell Engineering focuses on computational methods for the development of targeted immunotherapies.
					* Collaboration with [Dr. Nelson Moussazadeh](http://weillcornellbrainandspine.org/residents/nelson-moussazadeh-md) & [Dr. Cameron Brennan](https://www.mskcc.org/cancer-care/doctors/cameron-brennan) examining the evolutionary dynamics of metastatic kidney cancer.

			div.anchor#studio
				h1 STUDIO
				:markdown-it
					Current editorial projects & collaborations include:

					* [*(LISTEN)*](http://avant.org/event/listen/) - [Christine Sun Kim](http://christinesunkim.com/)
					* [*Alternative Unknowns*](http://avant.org/project/alternative-unknowns/) - [Chris Woebken](http://chriswoebken.com/)
					* *Handemade Computer* - [Taeyoon Choi](http://taeyoonchoi.com/)
					* *In Search of Personalized Time* - [E Roon Kang](http://www.eroonkang.com/) & [Taeyoon Choi](http://taeyoonchoi.com/)
					* *Affordance Opera* - [David Kanaga](http://davidkanaga.com/)
					* *00* - [Lars Holdus](http://www.larsholdhus.com/)
					* *Pink Slime Caeser Shift* - [Jen Liu](http://jenliu.info/)
					* *Supertemporal* - [Danny Snelson](http://dss-edit.com/)
					* *Power as Productive Pressure* - [Nora Khan](https://noranahidkhan.com/)
					* *Agalinis Dreams* - [Miriam Simun](http://www.miriamsimun.com/)
					* [Research Tactics](http://researchtactics.com/)

		footer

			ul.links
				li: a.arena(href="https://www.are.na/sam-hart")
					include ../images/arena.svg
				li: a(href="http://twitter.com/hxrts"): i.fa.fa-twitter
				li: a(href="http://github.com/hxrts"): i.fa.fa-code-fork
				li: a(href="https://keybase.io/hxrts"): i.fa.fa-key
				li: a(href="mailto:sam@hxrts.com?subject=message%20via%20hxrts.com"): i.fa.fa-reply
				li: a(href="http://creativecommons.org/licenses/by-nc-nd/4.0/"): i.fa.fa-creative-commons


			input#date(type="text" name="date" readonly="true")

		tail
			script(src="https://code.jquery.com/jquery-1.11.0.min.js")
			script(src="https://code.jquery.com/jquery-migrate-1.2.1.min.js")
			script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.0/highlight.min.js")
			script
				include ../js/mobile.js
				include ../js/nav.js
				include ../js/github.js
