doctype html
html

	head

		title Sam Hart

		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		meta(name="viewport" content="width=device-width initial-scale=1.0")

		link(href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&amp;subset=latin-ext" rel="stylesheet")

		script
			include ../js/ga.js

		style
			include ../world.css

	body
		main
			div.narrow
				h2 INFORMATION
				:markdown-it
					- [Email](mailto:sam@hxrts.com?subject=message%20via%20hxrts.com)
					- [PGP](https://keybase.io/hxrts)
					- [Scuttlebutt](https://viewer.scuttlebot.io/@A28rlprVNeKqp/puRx6zWFtUHuXCeq/5ZOGzerbKwno=.ed25519)
					- [Are.na](https://www.are.na/sam-hart)
					- [Twitter](http://twitter.com/hxrts)
					- [CV](../assets/SHB_CV.pdf)

			div.wide
				h2 RESEARCH
				:markdown-it
					- [Other Internet](https://otherinter.net/) with [Toby Shorin](https://tobyshorin.com/) & [Laura Lotti](https://twitter.com/lottiland/)
					- [Artificial Scarcity](https://arena-attachments.s3.amazonaws.com/2126008/c7f3aed8df5ff8a62792770e422651f8.pdf) lecture at MIT Media Lab
					- [P2P Social Architectures](https://viewer.scuttlebot.io/%254B2hZnGWNAQNfqnQ%2F1yMBechHY%2B7pd63DGBIK3BR8yw%3D.sha256) lecture at Harvard Berkman Center for Internet & Society
					- [Decentralization as Texture](http://s3.amazonaws.com/arena-attachments/2238957/607ce1d984ddf69a836170491792eca1.pdf) lecture at The School for Poetic Computation
					- Computational genomics + bioengineering [publications](https://scholar.google.com/citations?user=9Jhj4pwAAAAJ&hl=en)

			div.narrow
				h2 PUBLISHING
				:markdown-it
					- [Cryptoeconomic Systems](https://cryptoeconomicsystems.pubpub.org/) Program Committee
					- [Avant.org](http://avant.org/)
					- [Cybernetics Library](https://cybernetics.social/)
					- [Secrets](../assets/secret.html) with [Sarah Hamerman](https://sarahhamerman.com/)

			div.wide
				h2 ORGANIZING
				:markdown-it
					- [Interchain Funding Program](https://github.com/interchainio/funding) with [Billy Rennekamp](https://billyrennekamp.com/)
					- [Coala](https://coala.global/)
					- [Web of Trust](http://weboftru.st)
					- [Guild](https://guild.is)
					- [Internet Archive Decentralized Web Summit](https://www.decentralizedweb.net/creative-track/) with [Mindy Seu](http://mindyseu.com/)

