@font-face {
  font-family: 'Quattrocento Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Quattrocento Sans'), local('QuattrocentoSans'), url(http://themes.googleusercontent.com/static/fonts/quattrocentosans/v5/efd6FGWWGX5Z3ztwLBrG9coBJSyBiVuloIc8IXLz46o.woff) format('woff');
}
@font-face {
  font-family: 'Quattrocento Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Quattrocento Sans Bold'), local('QuattrocentoSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/quattrocentosans/v5/tXSgPxDl7Lk8Zr_5qX8FIaILZ3_VFR4y34zupljc1bH3rGVtsTkPsbDajuO5ueQw.woff) format('woff');
}
@font-face {
  font-family: 'Quattrocento Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Quattrocento Sans Italic'), local('QuattrocentoSans-Italic'), url(http://themes.googleusercontent.com/static/fonts/quattrocentosans/v5/8PXYbvM__bjl0rBnKiByg7Br0pHejMAHEYQxdlZpOYc.woff) format('woff');
}
@font-face {
  font-family: 'Quattrocento Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Quattrocento Sans Bold Italic'), local('QuattrocentoSans-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/quattrocentosans/v5/8N1PdXpbG6RtFvTjl-5E7XqmoHPhRtDxMEWFjaribELr7w4p9aSvGirXi6XmeXNA.woff) format('woff');
}
