/* --------------------------------------- BODY --------------------------------------- */
p, a {
  max-width: inherit;
}
a:hover {
  font-weight: normal;
  color:#8A9CBF !important;
}
.nosub {margin-bottom: 23px;}
#bod {
  font-family:'Quattrocento Sans', sans-serif;
  font-size: 13px;
  max-width: 640px;
  display: block;
}
#bod h2 {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1.5px;
}
#bod h3 {
  font-weight: bold;
  font-size: 13px;
  display: inline-block;
  line-height: 0.5em;
}
#bod a:link {
  font-weight: normal;
  color:black;
}
#bod a:link:hover {
  font-weight: normal;
  color:#8A9CBF;
}
#bod a:visited {
  font-weight: normal;
  color:black;
}
.indent {
  padding-left: 25px;
  line-height: 1.8em;
}
#main {
  padding-top: 20px;
  margin-left:25%;
  margin-right:10%;
  position: relative;
  letter-spacing:0.5px;
  line-height:110%;
  transition: margin 0.2s ease;
}
@media screen and (max-width: 700px) {
  #main {
    margin: 0 15px 0 15px;
  }
}
.img {
  max-width: 650px;
  width:100%;
}
.cover_img {
  max-width: 600px;
  width:100%;
}
.galimg {
  max-width: 650px;
  width: 100%;
}
.img-tall {
  width: 60%;
}
.img-tall-wrapper {
  text-align:center;
}
.section {
  margin-bottom: 45px;
}

/* --------------------------------------- NAV --------------------------------------- */
.social-link {
  text-decoration: none;
}
.social-icon {
  color: black;
}
.el-icon-twitter:hover {
  color: #59adeb;
}
.el-icon-facebook:hover {
  color: #4964a1;
}
.fa-github {
  font-size: 1.2em;
  line-height: 96%;
}
.fa-github:hover {
  color: #2aa198;
}
.fa-paper-plane-o {
  font-size: 0.98em;
}
.fa-paper-plane-o:hover {
  color: #cb4b17;
}
.el-icon-link {
  font-size: 0.75em;
  margin-bottom: -1px;
}
#sidecontainer {
  position: fixed;
  top: 45px;
  left: 6%;
  background:#fff;
  font-family:'Quattrocento Sans', sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height:100%;
  display: block;
}
@media screen and (max-width: 700px) {
  #sidecontainer {
      display: none;
  }
}
#sidemenu ul {
  list-style-type: none;
  margin-bottom: 0px;
  padding-left: 0px;
}
#sidemenu li {
  padding: 0px;
  text-align: left;
  display:inline-block;
/*  transition: margin-left 0.3s ease;*/
}
#sidemenu a {
  text-decoration: none;
  color:#000;
  position:relative;
}
.nav-active {
  color: #000;
  font-weight: bold;
}
#sidemenu a:hover {
  color: #000;
  font-weight: bold;
}
#sidemenu a:after {
  text-decoration:none;
  display:block;
  width:100%;
  border-top:1px solid #FFF;
  content:"";
  bottom:0.1em;
  z-index:-1
}
#sidemenu a:hover:after {
  border-top:1px solid #000;
}
#sidemenu li.selected a {
  color: #000;
}
#sidemenu li.selected a:after {
  border-top:1px solid #000;
}
#sidelinks ul {
  list-style-type: none;
  margin-top: 0px;
  padding-left: 0px;
  -webkit-margin-after: 10px;
}
#sidelinks li {
  padding: 0px;
  text-align: left;
  display: inline-block;
}
#sidelinks a {
  text-decoration: none;
  color:#000;
  position:relative;
}
#sidelinks a:hover {
  color: #000;
  font-weight: bold;
}
#sidelinks a:after {
  text-decoration:none;
  display:block;
  width:100%;
  border-top:1px solid #FFF;
  content:"";
  bottom:0.1em;
  z-index:-1
}
#sidelinks a:hover:after {
  border-top:1px solid #000;
}
#sidelinks li.selected a {
  color: #FFF;
}
#sidelinks li.selected a:after {
  border-top:1px solid #FFF;
}
#sidelinks ul {
  list-style-type: none;
  margin-top: 0px;
  padding-left: 0px;
  -webkit-margin-after: 10px;
}


.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events:none;
}

.social:hover {
  cursor:pointer;
}

/* --------------------------------------- FOOTER --------------------------------------- */
#footer {
  max-width: 640px;
  background: #F2F2F2;
  font-family:'Quattrocento Sans', sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 100%;
  font-size: 10px;
  font-weight: normal;
  height: 140px;
  width: 100%;
  margin-bottom: 20px;
}
#footer a:link {
  text-decoration: none;
  font-weight: normal;
  color:#9EADA3;
}
#footer a:visited {
  text-decoration: none;
  font-weight: normal;
  color:#9EADA3;
}
#footer a:hover {
  text-decoration: none;
  color: white;
}
#attrib {
  float: right;
  width: 100%;
  text-align: right;
  margin-top: 15px;
}
#txtbox {
  border:none;
  background:none;
  font-family:'Quattrocento Sans', sans-serif;
  font-size: 11.5px;
  letter-spacing:0.5px;
}
@media screen and (max-width: 700px) {
  #attrib {
      display: inline-block;
      float:none ;
      text-align: center;
      margin-top: 20px;
      margin-right: none;
      margin-bottom: 20px;
  }
}
#social_container_foot {
  padding-top: 55px;
  text-align: center;
  display: block;
  line-height: 150%;
  white-space: nowrap;
}
.social-foot {
  padding-left: 4%;
  padding-right: 4%;
  margin-bottom: 10px;
  color: #9EADA3;
  display: none;
  margin: 0 auto;
  font-size: 1.5em;
}
@media screen and (max-width: 700px) {
  .social-foot {
      display: inline;
  }
}
.social-foot-cc {
  padding-left: 4%;
  padding-right: 4%;
  display: inline;
  margin: 0 auto;
  font-size: 3em;
  color: white;
}
@media screen and (max-width: 700px) {
  .social-foot-cc {
      display: inline;
      font-size: 1.5em;
      color: #9EADA3;
  }
}
#cc-foot:hover {
  color: #8A9CBF;
}

/* --------------------------------------- SOCIAL --------------------------------------- */
#social_container {
  margin-left: 2px;
  margin-top: 5px;
  position: relative;
}
.social {
  width: 13px;
  padding-left: 5px;
}
#twitter {
  position: absolute;
  left: 5px;
  top: 0px;
}
#twitter:hover {
}
#facebook {
  position: absolute;
  left: 27px;
  top: 0px;
}
#facebook:hover {
}
#github {
  position: absolute;
  left: 50px;
  top: 0px;
}

#github:hover {
}
#mail {
  position: absolute;
  left: 71px;
  top: 0px;
}
#mail:hover {
}

/* --------------------------------------- ELUSIVE --------------------------------------- */
@font-face {
  font-family: 'Elusive-Icons';
  src: url('../fonts/Elusive-Icons.eot');
  src: url('../fonts/Elusive-Icons.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Elusive-Icons.woff') format('woff'),
       url('../fonts/Elusive-Icons.ttf') format('truetype'),
       url('../fonts/Elusive-Icons.svg#Elusive-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*="el-icon-"] {
  font-family: 'Elusive-Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-link:before {
  content: "\e68f";
}
.el-icon-twitter:before {
  content: "\e61b";
}
.el-icon-facebook:before {
  content: "\e6d9";
}
.el-icon-cc:before {
  content: "\e702";
}